/vendor
/node_modules
/public/build
/public/hot
/.env
/.env.testing
/.git
/.github
/.vscode
/.idea
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/debugbar
/tests
/phpunit.xml
/npm-debug.log
/yarn-error.log
docker-compose.yml
Dockerfile
.dockerignore
